# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Build inputs
bsb usfm files/

# Dependencies
node_modules/

# Test output
coverage/
playwright-report/
test-results/

# Misc
.env
.env.local
